.collectionBackground {
  padding-top: 60px;
  /* padding-bottom: 50px; */

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    url(photo/collection_wines.webp);
}
