.wrapper {
  background-position: top;
  background-repeat: repeat;

  min-width: 480;
  min-height: 600px;

  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    url(photo/chinh.jpg);

  padding-top: 60px;
}
