.overlay {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;

  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(6px);

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 999999;

  opacity: 1;
  transition: opacity 0.4s ease;
}

.overlayClosing {
  opacity: 0;
}

.video {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.75);
}

.center {
  position: relative;
  z-index: 2;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;

  text-align: center;
  color: #fff;
  padding: 20px;
  border-radius: 12px;
}

.brand {
  font-size: 54px;
  font-weight: 600;
  letter-spacing: 0.08em;
  filter: drop-shadow(0 1px 6px #00000088);
}

.text {
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-bottom: 20px;
  filter: drop-shadow(0 1px 6px #00000088);
}

.btnYes {
  border: none;
  background: transparent;
  cursor: pointer;
  filter: drop-shadow(0 1px 6px #00000088);
}

.textBtn {
  border: 2px solid #fff;
  padding: 12px 22px;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 2px;
  color: #fff;

  transition: 0.3s ease;
}

.textBtn:hover {
  background: #fff;
  color: #000;
}

.socialMedia {
  list-style: none;
  padding: 0;
  margin-top: 14px;

  display: flex;
  gap: 22px;
  filter: drop-shadow(0 1px 6px #00000088);
}

.socialMedia a {
  color: #eee;
  text-decoration: none;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  font-size: 12px;
}

.socialMedia a:hover {
  color: var(--gold-accent);
}
