.favoriteBtn {
  display: flex;
  align-items: center;
  background-color: inherit;
  border: none;
  cursor: pointer;
}

.cardGrapeIcon {
  width: 30px;
  height: 30px;
  display: block;
  stroke: #6f2da8;
  fill: #fff;
  transition: fill 400ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke 400ms cubic-bezier(0.4, 0, 0.2, 1);
}

.favorite {
  fill: #6f2da8;
  stroke: black;
}
