.heroWrapper {
  position: relative;
  height: 100svh;
  min-height: 480px;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
}

.video {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.8);
}

.center {
  position: relative;
  z-index: 1;
  width: 100%;
  text-align: center;
  color: #fff;
  padding: 40px 24px;
  border-radius: 10px;
  backdrop-filter: blur(4px);
  background: rgba(0, 0, 0, 0.4);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.titleWrapper {
  max-width: 800px;
  margin: 0 auto;
}

.title {
  font-weight: 400;
  font-size: 28px;
  text-shadow: 0 12px 56px rgba(0, 0, 0, 0.7);
  text-transform: uppercase;
}

.subtitle {
  font-size: 14px;
  text-transform: uppercase;

  text-shadow: 0 6px 28px rgba(0, 0, 0, 0.35);
}

@media (min-width: 1279px) {
  .title {
    font-size: 36px;
  }
  .subtitle {
    font-size: 20px;
  }
}

.arrowLink {
  background: transparent;
  border: 0;
  padding: 0;
}

.arrow {
  display: inline-block;
  margin-top: 30px;
  width: 80px;
  height: 40px;

  animation: bounce 2.5s ease-in-out infinite;
  transition: transform 0.3s ease;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
}

.arrowLink:hover .arrow {
  animation-play-state: paused;
  transform: scale(1.8);
}
