.wineCard {
  width: 100%;
  list-style: none;
}

.cardWrapper {
  background-color: white;
  color: black;
  border-radius: 12px;
}

.title {
  padding-bottom: 10px;
}

.wineImg {
  width: 100%;
  border-radius: 12px 12px 0 0;
  padding: 20px;
  box-shadow: inset 0 200px 100px 0 rgba(18, 18, 18, 1);
}

.cardHeadWrapper {
  display: flex;
  justify-content: space-between;
}

.details {
  padding: 20px;
}

.adminBtnWrapper {
  display: flex;
  gap: 5px;
  font-size: 12px;
  font-weight: 600;
}

.deleteBtn {
  background: var(--red-accent);
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: #fff;
  padding: 5px 10px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.25s ease;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.editBtn {
  background: var(--red-accent);
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: #fff;
  padding: 5px 10px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.25s ease;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.specs {
  display: grid;
  gap: 10px;
}

.row {
  display: grid;
  grid-template-columns: 130px minmax(0, 1fr);
  align-items: baseline;

  gap: 12px;
  padding: 5px 0;
  align-items: center;
}

.specs dt {
  color: #111;
  font-weight: 600;
}
.specs dd {
  color: #7a2e2e;
  font-weight: 600;
}

@media (min-width: 768px) {
  .cardWrapper {
    display: flex;
  }

  .wineMedia {
    padding: 0;
    flex-shrink: 0;
  }

  .wineImg {
    max-width: 333px;
    border-radius: 12px 0 0 12px;
  }

  .details {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
  }
}

@media (min-width: 1280px) {
  .wineImg {
    height: 350px;
  }

  .row {
    padding: 10px 0;
  }
}
