.wrapper {
  padding-top: 60px;
  padding-bottom: 60px;
  min-height: 100vh;
  background: radial-gradient(
    circle at top center,
    #26211e 0,
    #050505 100%,
    #050505 100%
  );
}

.wineList {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  align-items: center;
  justify-content: center;
}
