.heroBackground {
  position: relative;
  min-height: 480px;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 60px;
  height: 100svh;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  background-image: url(/photo/winery_hero.webp);
}

.center {
  position: relative;
  z-index: 1;
  width: 100%;
  text-align: center;
  color: #fff;
  padding: 40px 24px;
}

.titleWrapper {
  max-width: 800px;
  margin: 0 auto;
}

.title {
  font-weight: 400;
  font-size: 28px;
  text-transform: uppercase;
  filter: drop-shadow(10px 10px 36px #00000088);
}

.subtitle {
  font-size: 14px;
  text-transform: uppercase;

  filter: drop-shadow(10px 10px 36px #00000088);
}

@media (min-width: 1279px) {
  .title {
    font-size: 36px;
  }
  .subtitle {
    font-size: 20px;
  }
}

.arrowLink {
  background: transparent;
  border: 0;
  padding: 0;
  filter: drop-shadow(10px 10px 36px #00000088);
}

.arrow {
  display: inline-block;
  margin-top: 30px;
  width: 80px;
  height: 40px;

  animation: bounce 2.5s ease-in-out infinite;
  transition: transform 0.3s ease;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
}

.arrowLink:hover .arrow {
  animation-play-state: paused;
  transform: scale(1.8);
}
