.aboutUsSection {
  padding-top: 60px;
  padding-bottom: 50px;
}

.title {
  margin-bottom: 40px;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 1px;
}
.accent {
  color: var(--color-accent);
}

.wrapper {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.teamImg {
  width: 600px;
  border-radius: 10px;
  filter: brightness(0.8);
}

.sectionText {
  font: 400;
  font-size: 20px;
}
