.link {
  color: #fff;

  transition: color 0.3s ease;
}

.link:hover {
  color: var(--color-accent-hover);
}

.active {
  color: var(--color-accent);
  text-decoration: underline;
  text-underline-offset: 4px;
}

.navigation {
  display: flex;
  gap: 10px;
}
