.background {
  background-position: center;
  background-repeat: repeat;

  min-width: 480;

  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    url(photo/footer_background.webp);
}

.wrapper {
  padding: 30px 0 20px 0;
  display: flex;
  flex-direction: column;
  gap: 45px;
}

.contactsWrapper {
  display: flex;
}

@media (min-width: 767px) {
  .wrapper {
    padding: 60px 0 30px 0;
  }
}

@media (max-width: 768px) {
  .contactsWrapper {
    display: flex;
    flex-direction: column;
    font-size: 14px;
  }
}

@media (min-width: 768px) {
  .contactsWrapper {
    justify-content: space-between;
    gap: 40px;
  }
}

.brand {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.1em;

  margin-bottom: 20px;
}

@media (min-width: 1279px) {
  .brand {
    font-size: 28px;
  }
}

.country {
  margin-bottom: 10px;
}

.byText {
  margin-bottom: 5px;
}

.contact ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.nav ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media (max-width: 768px) {
  .nav {
    display: none;
  }
}

.socialWrapper {
  display: flex;
  justify-content: space-between;
}

@media (min-width: 767px) {
  .socialWrapper {
    gap: 80px;
  }
}
@media (min-width: 1279px) {
  .socialWrapper {
    gap: 100px;
  }
}

.policy {
  display: flex;
  justify-content: space-between;
}

.accent {
  color: var(--gold-accent);
}

.contactList li :hover {
  color: var(--gold-accent);
}
