.ourTeamSection {
  /* padding-top: 30px; */
  padding-bottom: 20px;
}

.title {
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 1px;
}
.accent {
  color: var(--color-accent);
}

.text {
  padding-bottom: 15px;
}
