@import "modern-normalize/modern-normalize.css";

:root {
  /* base colors */
  --color-bg: #121212;
  --color-black: black;
  --color-white: white;
  --color-grape: #6f2da8;
  --color-accent: #bfa76f;

  /* for hover/active */
  --color-accent-hover: #bfa76f;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "GFS Didot", serif;
  font-weight: 400;
  font-style: normal;
  background-color: var(--color-bg);
  color: #ffffff;
}
main {
  flex-grow: 1;
}

section {
  scroll-margin-top: 50px;
}

img {
  display: block;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
a {
  font-style: normal;
  color: currentColor;
  text-decoration: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
input {
  font-family: inherit;
}
button {
  font-family: inherit;
  color: black;
  cursor: pointer;
}

footer {
  background-position: center;
  background-repeat: repeat;

  min-width: 480;

  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    url(photo/footer_photo.png);
}

.link {
  color: #fff;

  transition: color 0.3s ease;
}

.link:hover {
  color: var(--color-accent-hover);
}

.active {
  color: var(--color-accent);
  text-decoration: underline;
  text-underline-offset: 4px;
}
