@import "modern-normalize/modern-normalize.css";

:root {
  /* base colors */
  --color-bg: #121212;
  --color-black: black;
  --color-white: white;
  --color-grape: #6f2da8;
  --gold-accent: #bfa76f;
  --red-accent: #7a2e2e;

  /* for hover/active */
  --color-accent-hover: #bfa76f;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: var(--color-bg);
  color: var(--color-white);
  font-family: "GFS Didot", serif;
  font-weight: 400;
  font-style: normal;
}

main {
  flex: 1 0 auto;
}

section {
  scroll-margin-top: 50px;
}

img {
  display: block;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
a {
  font-style: normal;
  color: currentColor;
  text-decoration: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
input {
  font-family: inherit;
}
button {
  font-family: inherit;
  color: black;
  cursor: pointer;
}

.link {
  color: #fff;

  transition: color 0.3s ease;
}

.link:hover {
  color: var(--color-accent-hover);
}

.active {
  color: var(--gold-accent);
  text-decoration: underline;
  text-underline-offset: 4px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
