.background {
  background-position: center;
  background-repeat: repeat;

  min-width: 480;

  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    url(photo/about_us_background.png);
}
