.UserMenuWrapper {
  display: flex;
  gap: 10px;
}

.logoutBtn {
  color: #fff;
  background-color: inherit;
  border: none;

  transition: color 0.3s ease;
}

.logoutBtn:hover {
  color: var(--color-accent-hover);
}
