.notFoundBackground {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  width: 100vw;
  height: 100vh;

  background-image: url(photo/age_verification.jpg);

  display: flex;
  justify-content: center;
  align-items: center;
}

.textWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  align-items: center;
  max-width: 500px;

  backdrop-filter: blur(2px);
  filter: drop-shadow(0 1px 6px #00000088);
}

.brand {
  font-size: 42px;
  font-weight: 600;
  letter-spacing: 0.08em;
  color: black;
  text-decoration: none;
}

.title {
  color: black;
  font-size: 20px;
  line-height: 1.4;
  text-transform: uppercase;
}

.link {
  color: black;
  font-size: 18px;
  text-decoration: underline;
}
